/*POSITION */

/*POSITION: STATIC   -  NAO ACEITA VALORES DE TOP, BOTTOM, RIGHT, LEFT  */
/*POSITION: FIXED    - FIXA O ELEMENTO NA TELA */
/*POSITION: STICKY    -  AGE COMO UM ADESIVO, FIXA O ELEMENTO ONDE EU DETERMINAR */
/*POSITION: RELATIVE  -  POSIÇÃO INICIAL DELE  */ 
/*POSITION: ABSOLUTE  -   POSIÇAO ABSOLUTA (FIXA) A ALG UM ELEMENTO OU PAGINA */

/*
    -- TOP  
    -- RIGHT
    -- BOTTOM 
    -- LEFT.

*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header img {
    margin: 30px 0px 0px 0px;
    position: relative;
    right: 230px;
    align-items: center;
    width: 100px;
    height: 100px;

}

.link-header {
    color: #000000;
    position: relative;
    left: 62%;
    bottom: 20px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 23px;
    text-decoration: none;
    text-align: center;
}

.link-header:hover {
    border-bottom: 2px solid #07adfa;
}

.div-dad h1 {
    font-size: 50px;
    line-height: 3rem;
    width: 400px;
} 

.div-son p {
    position: relative;
    top: 30px;
    font-size: 19.5px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 29px;
    width: 500px;

}

.div-dad button {
    position: relative;
    top: 70px;
    font-size: 16px;
    background: transparent;
    border: none;
    border-radius: 15px;
    width: 120px;
    height: 50px;
    letter-spacing: 1px;
}

.div-dad button:hover {
    background: white;
    opacity: 0.5;
}

.div-dad a{
    position: relative;
    margin-right: 23px;
    top: 150px;
    text-align: justify;
    text-decoration:dotted;
    color: #636363;

}

.div-dad a:hover {
    border-bottom: 2px solid #636363;
    
}

.div-dad {
    position: relative;
    top: 180px;
    left: 20%;
    width: 15%;
    height: 15%;


}

.img-ux-ui {
    position: absolute;
    left: 60%;
    top: 280px;
    width: 400px;
    height: 400px;
    border-radius: 50px;
}



/*
.div-dad {
    height: 350px;
    width: 350px;
    background: darkblue;
}

.div-son {
    height: 125px;
    width: 125px;
    background: darkgreen;
}

.runn {
    height: 125px;
    width: 125px;
    background: silver;
}

*/