*{
    box-sizing: border-box; /* É A MELHOR OPÇÃO DE USO DO QUE O CONTENT-BOX*/

}

.box {
    margin: 120px 0px 50px 420px;
    width: 100px;
    height: 100px;
    background: #25ffe2;
    padding: 20px;
    border: 10px solid rgb(255, 0, 0);
}
