

body {
    display: flex;
    margin: 20px;
    padding: 20px;

}


.box {
    background: #00ffff;
    height: 50px;
    width: 50px;
    margin: 40px;
    display: inline;


}

.box-2 {
    background: #ff44ff;

}


.box-3 {
    background: #00ff95;

}

