h1 {
font-size: 50px;
text-decoration: underline;
text-transform: uppercase;
color: gray

}

p {
font-size: 45px;
font-weight: 500;
align-items: center;
line-height: 50px;
color: darkblue;
}

div {
color: rebeccapurple;
width: 200px;
height: 200px;
font-size: 60px;
}

img {
    width: 200px;
    height: 200px;
    position: relative;
    left: 40%;
  }